#header {
	background-color:rgba(75,192,192,0.4);
	position: fixed;
	width: 100%;
	top: 0;
}
#main {
	max-width:90%;
	margin:auto;
}
#footer {
	background-color:rgba(75,192,192,0.4);	
}
#footer .left{
	text-align: left;
}
#footer .center{
	text-align: center;
}
#footer .right{
	text-align: right;
}
#canvas{
	width: 100%
}
