#header {
	background-color:rgba(75,192,192,0.4);
	padding: 13px 17px 0px;
	width: 100%;
	top: 0;
}
form{
	display: inline-block;
}
#main {
	max-width:90%;
	margin:auto;
}
#footer {
	background-color:rgba(75,192,192,0.4);	
}
#canvas{
	width: 100%
}
#frmChart{
	padding: 13px 17px 0px;
	width: 100%;
	top: 0;
}